/* Import my SASS */
@import 'variables';
@import 'mixins';
@import 'global';

@import 'header';
@import 'page';

/* Then BS */
@import 'bootstrap/bootstrap';

/* Styles (override BS) */
body {
    font-family: $font-content;
}

/* Animation intro */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.slider {
    background: var(--light-violet);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: var(--very-light-violet);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    //text-transform: uppercase;
}

.hide {
    background-color: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
    font-size: 3.8rem;
}

/* Front-page */
.btn-rapport-1 {
    align-items: baseline;

    .star-icon {
        transform: translateX(-100px);
        opacity: 0;
        padding: 0;
        display: none;
        font-size: 0.85rem;
    }

    &:hover,
    &:focus {
        .star-icon {
            display: inline-flex;
            animation: appear-from-left ease-in-out 0.20s forwards;
        }
    }
}

@keyframes appear-from-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        display: inline-block;
        opacity: 1;
        transform: translateX(-5px);
        padding-right: 0.42rem;
    }
}

.front-page {
    min-height: 100vh;

    .site-content {
        overflow: hidden;
        background: #fff url('../img/watermark.svg') no-repeat center 15%;

    }

    .hero-wrapper {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 60px); //header height
    }

    .section {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
}

@media screen and (min-width: 992px) {
    .site-content {
        .hero-content {
            margin-top: -60px;
        }
    }
}

.up-title {
    font-weight: 600;
    color: var(--light-violet);
}

/* Footer */
footer {
    background: none !important;
    display: block;
    font-size: 0.69rem;
    position: fixed;
    right: 25px;
    bottom: 8px;

    a {
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $secondary;
        }
    }
}